<div class="personas">
    <h3> Esta es nuestra lista de personas</h3>

    <div *ngFor="let persona of personas">
       <app-persona [persona] = "persona"
       (deletePersona)="borrarPersonaDeLista($event)"
       >
       </app-persona>
    </div>   
    
</div>

<div class="agregador">
    <h3>Formulario de ingreso:</h3>
    <input type="text"  placeholder="nombre: " [(ngModel)]="nombre" > <br>
    <input type="text" placeholder="apellido: " [(ngModel)]="apellido"> <br>
    <input type="text" placeholder="edad: "   [(ngModel)]="edad"> <br>
    <button (click)="agregarPersonaALaLista()"class="btn btn-primary" >Agregar</button>
    
</div>